{% extends 'base.html' %}

{% block 'content' %}

<h1 class="cover-heading">{{ merchant_name }} {{ day|capfirst }} Happy Hour</h1>

<h3 class="cover-heading">Request a promo code</h3>

<div id="request-code">
  <form action="/codes/{{ merch_slug }}/{{ day }}/request-code/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
  </form>
</div>

{% endblock %}